.navbar {
    flex-grow: 1;
}
.secondary {
    visibility: collapse;
    width: 0%;
    opacity: 0;
    height: 0%;
    padding: 0%;
    margin: 0%;
}

nav.main{
    position: sticky;
    width: 100%;
    z-index: 1000000;
    top: 0px;
}
nav.secondary {
    position: sticky;
    width: 100%;
    z-index: 1000000;
    top: 0px;
}
